<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" parallel="classes" thread-count = "2">
    <test name="TestNgExecutionHomework" >
        <classes>
            <class name="ConfigTests"/>
            <class name="CheckboxTests" />
            <class name="RadioButtonTests" >
                <methods>
                    <exclude name="selectYes"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
